.upload-container {
    position: relative;

    .header {
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
    }

    .content {
        font-size: 1rem;
    }

    .loader {
        top: 0;
        left: 0;
        height: 20px;
        width: 100%;
    }
}